{
  "adminpanel": {
    "description": "{{ laclasse_services.adminpanel.description }}",
    "title": "{{ laclasse_services.adminpanel.title }}",
    "app_id": "{{ laclasse_services.adminpanel.app_id }}",
    "path": "{{ laclasse_services.adminpanel.path }}",
    "version": {
      "asked": {{ laclasse_adminpanel_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
